.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 491px;
}

.search-form__title {
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  text-align: left;
  width: 608px;
  margin: 80px 0 32px 0;
}

.search-form__subtitle {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 608px;
  margin: 0 0 88px 0;
}

.search-form__form {
  position: relative;
  width: 608px;
  height: 64px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 100px;
  display: flex;
}

.search-form_mobile-menu {
  justify-content: flex-end;
  position: absolute;
  bottom: 40px;
}

.search-form__search-bar {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: none;
  box-sizing: border-box;
  border-radius: 100px;
  margin: 0 0 0 24px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #1a1b22;
  caret-color: #2F71E5;
  backdrop-filter: blur(8px);
}

.search-form__search-bar::placeholder {
  color: #B6BCBF;
}

.search-form__search-bar:focus {
  outline: none;
}

.search-form__search-button {
  background-color: #2f71e5;
  width: 168px;
  height: 64px;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border: none;
  border-radius: 100px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.search-form__search-button:hover {
  background-color: #347EFF;
}

.search-form__search-button:focus {
  background-color: #2A65CC;
}

@media screen and (max-width: 1024px) {
  
  .search-form {
    width: 452px;
    height: 288px;
    align-items: flex-start;
    margin: auto;
  }

  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    width: 385px;
    margin: 38px 0 16px 0;
  }
  
  .search-form__subtitle {
    width: 452px;
    margin: 0 0 48px 0;
  }
  
  .search-form__form {
    width: 448px;
    height: 56px;
  }
  
  .search-form__search-button {
    width: 160px;
    height: 56px;
  }
}

@media screen and (max-width: 767px) {
  .search-form__title {
    font-size: 36px;
    line-height: 40px;
    width: 285px;
    margin: 30px 0 16px 16px;
  }
  
  .search-form__subtitle {
    width: 288px;
    margin: 0 0 112px 16px;
  }
  
  .search-form__form {
    width: auto;
    height: auto;
    margin-left: 16px;
    flex-direction: column;
    background: none;
    border-radius: none;
  }
  
  .search-form__search-bar {
    width: 288px;
    height: 56px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 16px;
  }

  .search-form__search-button {
    width: 288px;
    height: 56px;
    margin-top: 16px;
    margin-bottom: 44px;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }
}