.footer {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  margin: 0 104px 0 104px;
}

.footer__copyright {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  color: #B6BCBF;
  margin: 32px 0 26px 0;
}

.footer__nav {
  display: grid;
  grid-template-columns: 112px 192px 62px 48px;
  grid-template-rows: 80px;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center; 
}

.footer__icon {
  width: 20px;
  height: 20px;
}