.footer {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 0 104px 0 104px;
  width: 100vw;
  margin: auto;
  box-sizing: border-box;
}

@media screen and (min-width: 1600px) {
  .footer {
    padding: 0;
    width: 1440px;
  }
}

.footer__copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  
  color: #B6BCBF;
  margin: 32px 0 26px 0;
}

.footer__nav {
  display: grid;
  grid-template-columns: 112px 192px 62px 48px;
  grid-template-rows: 80px;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  
  text-align: center; 
}

.footer__icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 0 40px 0 40px;
  }
  
  .footer__copyright {
    margin: 24px 0 18px 0;
  }
  
  .footer__nav {
    grid-template-columns: 88px 176px 46px 48px;
    grid-template-rows: 64px;
  }
}