.card {
  position: relative;
  width: 400px;
  height: 576px;
  background: #FFFFFF;
  border-radius: 16px;
  list-style: none;
  margin: 0 16px 16px 0;
}

.card__keyword {
  width: 87px;
  height: 40px;
  background-color: #fff;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0px;
  position: absolute;
  top: 24px;
  left: 24px;
  margin: 0;
  text-align: center;
  vertical-align: center;
}

.card__button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 8px;
  border: none;
  background-image: url('../../images/icons/bookmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.card__button_saved {
  background-image: url('../../images/icons/bookmark-saved.svg');
}

.card__button_trash {
  background-image: url('../../images/icons/trash.svg');
}

.card__button:hover {
  background-image: url('../../images/icons/bookmark-saved.svg');
}

.card__button:hover + .card__tooltip {
  display: block;
}

.card__tooltip {
  display: none;  
  width: 182px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
  border-radius: 10px;
  position: absolute;
  top: 24px;
  right: 69px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  border: none; 
}

.card:nth-of-type(3n) {
  margin: 0 0 16px 0;
}

.card__image {
  background-size: 400px 272px;
  background-repeat: no-repeat;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.card__date {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin: 20px 24px 0 24px;
  color: #B6BCBF;
}

.card__title {
  font-family: 'Roboto Slab', serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  margin: 12px 24px 0 24px;
  color: #1A1B22;
}

.card__text {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  margin: 16px 24px 18px 24px;
  color: #1A1B22;
}

.card__source {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.4000000059604645px;
  text-align: left;
  margin: 0 24px 0 24px;
  color: #B6BCBF;
  text-transform: uppercase;
  position: absolute;
  bottom: 24px;
}